# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
run-server

# Files from Forge MDK
forge*changelog.txt

.vs
/run2/.mixin.out/class/dev/emi/emi/mixin/accessor/OrderedTextTooltipComponentAccessor.class
/run2/.mixin.out/class/dev/emi/emi/mixin/accessor/SmithingTransformRecipeAccessor.class
/run2/.mixin.out/class/dev/emi/emi/mixin/accessor/SmithingTrimRecipeAccessor.class
/run2/.mixin.out/class/dev/emi/emi/mixin/AbstractInventoryScreenMixin$1.class
/run2/.mixin.out/class/glitchcore/network/PacketHandler$Anonymous$917aaf2680fe4a11a0d82ad7ebe253bf.class
/run2/.mixin.out/class/net/minecraft/advancements/Advancement$Builder.class
/run2/.mixin.out/class/net/minecraft/client/gui/screens/inventory/tooltip/ClientTextTooltip.class
/run2/.mixin.out/class/net/minecraft/client/gui/screens/SkinCustomizationScreen.class
/run2/.mixin.out/class/net/minecraft/client/multiplayer/ClientPacketListener.class
/run2/.mixin.out/class/net/minecraft/client/player/RemotePlayer.class
/run2/.mixin.out/class/net/minecraft/client/renderer/ScreenEffectRenderer.class
/run2/.mixin.out/class/net/minecraft/network/protocol/game/ClientboundLevelChunkPacketData$BlockEntityInfo.class
/run2/.mixin.out/class/net/minecraft/network/protocol/game/ClientboundMapItemDataPacket.class
/run2/.mixin.out/class/net/minecraft/world/entity/projectile/ProjectileUtil.class
/run2/.mixin.out/class/net/minecraft/world/inventory/HorseInventoryMenu.class
/run2/.mixin.out/class/net/minecraft/world/item/armortrim/ArmorTrim.class
/run2/.mixin.out/class/net/minecraft/world/item/crafting/SmithingTransformRecipe.class
/run2/.mixin.out/class/net/minecraft/world/item/crafting/SmithingTrimRecipe.class
/run2/.mixin.out/class/net/minecraft/world/item/enchantment/EnchantmentHelper.class
/run2/.mixin.out/class/net/minecraft/world/item/Item$Anonymous$6f70dcd127174323a1b00109217c218b.class
/run2/.mixin.out/class/net/minecraft/world/item/ItemCooldowns.class
/run2/.mixin.out/class/net/minecraft/world/level/entity/EntitySection.class
/run2/.mixin.out/class/net/minecraftforge/common/brewing/BrewingRecipeRegistry.class
/run2/logs/2025-03-09-3.log.gz
/run2/logs/2025-03-09-4.log.gz
/run2/logs/debug-3.log.gz
/run2/logs/debug-4.log.gz
/run2/servers.dat_old
